<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_name, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :name_kana %>
    <%= form.text_field :name_kana, id: :order_name_kana, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :order_email, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :order_tel, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.select :schedule, Order.schedules.keys, id: :order_schedule,
                  prompt: 'Select a start schedule' %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :order_message, rows: 8, cols: 40 %> %>
  </div>

  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
